body center table tbody tr th{
    padding-right: 2rem;
    font-size: x-large;
}

body center table tbody tr td{
    color: red;
    font-size: xx-large;
    padding-right: 2rem;
}

body center table tbody tr td:hover{
    color: blue;
    transition: 600ms;
}
