 .u-section-1 {
  background-image: url("/static/img/NovoProjeto.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .u-text-1 {
  font-family: Nunito;
  font-weight: 700;
  font-size: 3rem;
  margin: 54px 134px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 604px;
  margin: -12px 33px 0 723px;
}

.u-section-1 .u-label-1 {
  font-family: Nunito;
}

.u-section-1 .u-input-1 {
  height: 36px;
}

.u-section-1 .u-label-2 {
  font-family: Nunito;
}

.u-section-1 .u-input-2 {
  height: 36px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-family: Nunito;
}

.u-section-1 .u-input-3 {
  height: 36px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-family: Nunito;
}

.u-section-1 .u-input-4 {
  height: 36px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-family: Nunito;
}

.u-section-1 .u-input-5 {
  height: 36px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-family: Nunito;
}

.u-section-1 .u-input-6 {
  height: 36px;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  background-image: none;
  font-family: Nunito;
  font-weight: 700;
  padding: 5px 0 6px;
}

.u-section-1 .u-text-2 {
  font-family: Nunito;
  font-size: 0.75rem;
  font-weight: 700;
  margin: -9px 143px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 556px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 156px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 59.56% 56.41%;
    background-size: auto 195%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 238px;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: -14px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 90px;
  }
}